@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cocogoose', Lato, sans-serif;
  position: absolute;
}

.page-padding {
  padding: 0 80px;
}

.bars {
  width: 60px;
  height: 40px;
  display: none;
  z-index: 999;
  background-color: #ec5242;
  cursor: pointer;
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #272a31;
}

a:active {
  color: #ec5242;
}

a:hover {
  color: #ec5242;
}

ul {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  text-align: center;
}

.menu {
  background-color: #272a31;
  color: #d3d3d3;
  font-size: 25px;
  height: 100vh;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}

.menu-close {
  padding-top: 30px;
  font-size: 35px;
  cursor: pointer;
}

.menu-links {
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-links li {
  list-style-type: none;
}

.menu-links li:last-child {
  border: 1px solid;
  padding: 5px 10px;
}

.menu-links a {
  color: #d3d3d3;
}

.menu-links a:hover {
  color: #ec5242;
}

.nav-bar {
  position: fixed;
  padding: 30px 80px;
  box-shadow: 0px 0px 10px #d3d3d3;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.nav-bar li {
  list-style: none;
  padding: 0 16px;
}

.nav-bar li:last-child {
  border: 2px solid #ec5242;
  width: 150px;
  max-width: 150px;
  padding: 0;
}

.intro {
  position: relative;
  background-color: #b93a3a34;
  background: rgba(76, 175, 80, 0.1);
  width: 100%;
  padding-top: 60px;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url('./images/coding-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.p-heading {
  font-size: 35px;
  font-weight: 400;
  color: #ec5242;
}

.color-gradient {
  background: -webkit-linear-gradient(#ec5242, rgb(146, 40, 40), #ec5242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text {
  position: relative;
  padding-bottom: 80px;
}

.intro-text h1 {
  font-size: 50px;
  color: #ec5242;
  font-weight: 900;
  word-spacing: 10px;
}

.p-text {
  width: 100%;
  max-width: 600px;
  padding-left: 20px;
  flex-wrap: wrap;
  margin: 40px 0;
  border: 2px solid #fff;
  background-color: #d3d3d334;
}

.intro-date {
  font-weight: 900;
  color: #272a31;
}

.main-program {
  background-color: #272a31;
  position: relative;
  top: 0;
}

.section-heading {
  color: #d3d3d3;
  padding: 50px 0;
  width: 300px;
  margin: 0 auto;
}
.section-hr {
  width: 50px;
  border: 1px solid;
  margin: 10px auto;
  color: #ec5242;
}

.main-program h4 {
  color: #ec5242;
}

.program-card-container {
  justify-content: center;
  flex-wrap: wrap;
}

.program-card {
  background-color: #d3d3d334;
  color: #d3d3d3;
  max-width: 200px;
  padding: 8px;
  margin: 5px;
}

.program-card-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.program-footer {
  width: 400px;
  text-decoration: underline;
  margin: 0 auto;
  padding: 50px 0;
  word-spacing: 7px;
}

.program-footer a {
  color: #d3d3d3;
}

.featured-speakers .section-heading {
  color: #272a31;
}

.featured-speakers-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  gap: 25px;
}

.all-speakers-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  gap: 25px;
}

.featured-speakers-card {
  position: relative;
  max-width: 700px;
  display: flex;
}

.featured-speakers-card::after {
  content: '';
  position: absolute;
  background-image: url('./images/black-white2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: -1;
}
.speaker-img {
  width: 200px;
  max-width: 180px;
  max-height: 130px;
  padding-left: 10px;
  padding-top: 10px;
}

.speaker-img img {
  width: 100%;
  height: 100%;
}

.featured-text {
  padding-left: 20px;
  max-width: 400px;
}

.featured-text i {
  color: #ec5242;
}

.featured-text hr {
  width: 30px;
}

.get-more {
  display: none;
  border: 1px solid #d3d3d3;
  padding: 20px;
  align-items: center;
}

.more {
  margin: 0 auto;
  border: none;
  font-size: 20px;
  background-color: inherit;
}
.fa-angle-down {
  color: #ec5242;
  padding-left: 5px;
}

.partner-section {
  position: relative;
  margin-top: 40px;
  background-color: #272a31;
  z-index: 1;
}

.partner-section .section-heading {
  padding: 20px 0;
}

.partners-link {
  justify-content: center;
  flex-wrap: wrap;
}

.partners-link li {
  list-style: none;
  margin: 0 20px;
}

.partners-link a {
  color: #d3d3d3;
}

/* footer */

.footer-section {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 35px;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-bar :before {
    opacity: 0.1;
  }

  .logo {
    display: none;
  }

  .nav-links {
    display: none !important;
  }

  .bars {
    display: block;
  }

  .page-padding {
    padding: 0 40px;
  }

  .intro {
    position: relative;
    background-color: #b93a3a34;
    background: rgba(76, 175, 80, 0.1);
    width: 100%;
    padding-top: 60px;
  }

  .p-heading {
    font-size: 20px;
    font-weight: 400;
    color: #ec5242;
  }

  .intro-text {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
  }

  .intro-text h1 {
    font-size: 30px;
    color: #ec5242;
    font-weight: 900;
    word-spacing: 10px;
  }

  .p-text {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
    border: 2px solid #fff;
    background-color: #d3d3d334;
  }

  .intro-date {
    font-weight: 900;
    color: #272a31;
  }

  .featured-speakers .section-heading {
    color: #272a31;
  }

  .featured-speakers-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 25px;
  }

  .featured-speakers-container article:nth-child(even) {
    display: none;
    background-color: #ec5242;
  }

  .all-speakers-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 25px;
  }

  .get-more {
    display: flex;
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
  }

  .main-program {
    padding-bottom: 20px;
  }

  .program-card-container {
    margin-bottom: 40px;
  }

  .program-card {
    display: flex;
    background-color: #d3d3d334;
    color: #d3d3d3;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
    text-align: left;
  }

  .program-card-text {
    max-width: 170px;
    padding-left: 10px;
  }

  .join {
    display: block;
    background-color: #ec5242;
    max-width: 300px;
    color: #d3d3d3;
    padding: 40px 20px;
    margin: 0 auto;
  }

  .program-footer {
    padding: 20px 0;
  }

  .program-footer a {
    display: none;
  }
}
