@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'COCOGOOSE, Lato', sans-serif;
  position: absolute;
}

.page-padding {
  padding: 0 80px;
}

.margin-auto {
  margin: 0 auto;
}

.bars {
  width: 60px;
  height: 40px;
  display: none;
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #272a31;
}

a:active {
  color: #ec5242;
}

a:hover {
  color: #ec5242;
}

ul {
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
  text-align: center;
}

.menu {
  background-color: #272a31;
  color: #d3d3d3;
  font-size: 25px;
  height: 100vh;
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}

.menu-close {
  padding-top: 30px;
  font-size: 35px;
  cursor: pointer;
}

.menu-links {
  width: 100%;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-links li {
  list-style-type: none;
}

.menu-links li:last-child {
  border: 1px solid;
  padding: 5px 10px;
}

.menu-links a {
  color: #d3d3d3;
}

.menu-links a:hover {
  color: #ec5242;
}

.nav-bar {
  position: fixed;
  padding: 30px 80px;
  box-shadow: 0px 0px 10px #d3d3d3;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.nav-bar li {
  list-style: none;
  padding: 0 16px;
}

.nav-bar li:last-child {
  border: 2px solid #ec5242;
  width: 150px;
  max-width: 150px;
  padding: 0;
}

.intro {
  position: relative;
  background-color: #b93a3a34;
  background: rgba(76, 175, 80, 0.1);
  width: 100%;
}

.intro::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url('./images/coding-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.p-heading {
  font-size: 35px;
  font-weight: 400;
  color: #ec5242;
}

.intro-text {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.intro-text h1 {
  font-size: 50px;
  color: #ec5242;
  font-weight: 900;
  word-spacing: 10px;
}

.about-p-text {
  max-width: 600px;
  padding: 15px 50px;
  flex-wrap: wrap;
  margin: 40px auto;
  border: 1px solid rgb(199, 195, 195);
  background-color: rgba(255, 255, 255, 0.842);
}

.hackjos {
  margin-bottom: 50px;
}

.hackjos-text {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 0;
}

.hackjos-text h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hackjos-logo-text {
  text-align: center;
  max-width: 400px;
  padding: 20px 50px;
  border: 1px solid rgb(199, 195, 195);
  background-color: rgba(255, 255, 255, 0.842);
  margin: 0 auto;
}

.past-hackjos {
  margin-top: 50px;
}

.hackathon-text h1 {
  font-size: 25px;
}

.hackathons {
  justify-content: center;
}

.hackathons h3,
p {
  font-weight: 700;
}

.hackathon1 h3 {
  color: #fff;
}

.hackathon1 p {
  color: #fff;
}

.hackathon2 h3 {
  color: #fff;
}

.hackathon2 p {
  color: #fff;
}

.hackathon1 {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px 5px;
  padding: 50px 30px;
  background-color: rgba(255, 68, 0, 0.507);
}

.hackathon1::before {
  content: '';
  width: 100%;
  max-width: 400px;
  position: absolute;
  background-image: url('./images/hackjos1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.4;
}

.hackathon2 {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px 5px;
  padding: 50px 30px;
  background-color: rgba(255, 68, 0, 0.507);
}

.hackathon2::before {
  content: '';
  width: 100%;
  max-width: 400px;
  position: absolute;
  background-image: url('./images/hackjos2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.4;
}

.footer-section {
  position: relative;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 35px;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-bar :before {
    opacity: 0.1;
  }

  .logo {
    display: none;
  }

  .nav-links {
    display: none !important;
  }

  .bars {
    display: block;
  }

  .page-padding {
    padding: 0 40px;
  }

  .intro {
    position: relative;
    background-color: #b93a3a34;
    background: rgba(76, 175, 80, 0.1);
    width: 100%;
    padding-top: 60px;
  }

  .p-heading {
    font-size: 20px;
    font-weight: 400;
    color: #ec5242;
  }

  .intro-text {
    position: relative;
    width: 100%;
    padding-bottom: 80px;
  }

  .intro-text h1 {
    font-size: 30px;
    color: #ec5242;
    font-weight: 900;
    word-spacing: 10px;
  }

  .p-text {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
    border: 2px solid #fff;
    background-color: #d3d3d334;
  }

  .hackathons {
    display: flex;
    flex-direction: column !important;
  }
}
